:root {
  --heading-font-family: "Inter", Helvetica;
  --heading-font-weight: 600;
  --heading-font-size: 24px;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000476837158%;
  --heading-font-style: normal;
  --colors-colors-alias-black-white-white: rgba(255, 255, 255, 1);
  --colors-colors-alias-black-white-black-100: rgba(211, 211, 214, 1);
  --colors-colors-alias-black-white-black-200: rgba(166, 167, 173, 1);
  --colors-colors-alias-black-white-black-800: rgba(13, 14, 20, 1);
}
