.teste {
  background-color: #0e0f15;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.teste .div {
  background-color: #0e0f15;
  overflow: hidden;
  width: 1440px;
  height: 4837px;
  position: relative;
}

.teste .overlap {
  position: absolute;
  width: 1440px;
  height: 983px;
  top: 0;
  left: 0;
}

.teste .glow {
  position: absolute;
  width: 1288px;
  height: 719px;
  top: 0;
  left: 72px;
}

.teste .CONTENT {
  position: absolute;
  width: 1256px;
  height: 172px;
  top: 156px;
  left: 92px;
}

.teste .HERO {
  width: 1246px;
  position: relative;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.teste .paragraph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.teste .a-maior-comunidade {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--colors-colors-alias-black-white-white);
  font-size: 72px;
  text-align: center;
  letter-spacing: -2.16px;
  line-height: 86.4px;
}

.teste .HEADER {
  display: flex;
  width: 1440px;
  height: 71px;
  align-items: center;
  justify-content: space-around;
  gap: 273px;
  padding: 0px 166px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #07070a63;
  border-top-style: none;
  border-right-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-style: none;
  border-color: #00a2ff4a;
  backdrop-filter: blur(10.35px) brightness(100%);
  -webkit-backdrop-filter: blur(10.35px) brightness(100%);
}

.teste .group {
  position: relative;
  width: 39px;
  height: 37px;
  background-image: url(./img/camada-1.png);
  background-size: 100% 100%;
}

.teste .group-2 {
  position: absolute;
  width: 342px;
  height: 444px;
  top: 539px;
  left: 166px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00a2ff;
}

.teste .frame {
  position: absolute;
  width: 293px;
  height: 229px;
  top: 31px;
  left: 23px;
}

.teste .figma-community-wrapper {
  display: flex;
  width: 275px;
  height: 40px;
  align-items: center;
  gap: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.teste .figma-community {
  position: relative;
  width: 230px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--colors-colors-alias-black-white-white);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.teste .text-wrapper {
  position: absolute;
  width: 287px;
  top: 47px;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-colors-alias-black-white-black-100);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
}

.teste .img {
  position: absolute;
  width: 157px;
  height: 44px;
  top: 372px;
  left: 24px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .group-3 {
  position: absolute;
  width: 342px;
  height: 444px;
  top: 539px;
  left: 550px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00a2ff;
}

.teste .frame-2 {
  position: absolute;
  width: 157px;
  height: 44px;
  top: 372px;
  left: 23px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .frame-3 {
  position: absolute;
  width: 602px;
  height: 156px;
  top: 359px;
  left: 420px;
}

.teste .overlap-group {
  position: absolute;
  width: 429px;
  height: 46px;
  top: 3px;
  left: 126px;
}

.teste .figma-community-2 {
  position: absolute;
  width: 428px;
  top: 6px;
  left: 1px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--colors-colors-alias-black-white-white);
  font-size: var(--heading-font-size);
  text-align: center;
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.teste .design-sem-nome {
  position: absolute;
  width: 39px;
  height: 39px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.teste .p {
  position: absolute;
  width: 492px;
  top: 65px;
  left: 55px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-colors-alias-black-white-black-100);
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 19.6px;
}

.teste .group-4 {
  position: absolute;
  width: 342px;
  height: 444px;
  top: 539px;
  left: 932px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00a2ff;
}

.teste .overlap-2 {
  position: absolute;
  width: 1440px;
  height: 3376px;
  top: 1014px;
  left: 0;
}

.teste .glow-2 {
  position: absolute;
  width: 1440px;
  height: 1583px;
  top: 926px;
  left: 0;
}

.teste .glow-3 {
  position: absolute;
  width: 1201px;
  height: 1100px;
  top: 21px;
  left: 0;
}

.teste .frame-4 {
  display: flex;
  width: 1109px;
  height: 1042px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 1112px;
  left: 165px;
}

.teste .plan-to-choose {
  display: flex;
  flex-direction: column;
  min-width: 240px;
  height: 1000px;
  align-items: flex-start;
  gap: 18px;
  padding: 29px 20px 20px 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #0000000d;
  border-radius: 12px;
  overflow: hidden;
  border: 0.5px solid;
  border-color: #ffffff;
  backdrop-filter: blur(12.9px) brightness(100%);
  -webkit-backdrop-filter: blur(12.9px) brightness(100%);
}

.teste .design-sem-nome-2 {
  position: relative;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.teste .figma-community-3 {
  position: relative;
  width: 428px;
  height: 40px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--colors-colors-alias-black-white-white);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.teste .span {
  color: #ffffff;
  letter-spacing: var(--heading-letter-spacing);
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  font-size: var(--heading-font-size);
}

.teste .text-wrapper-2 {
  color: #00bfff;
  letter-spacing: var(--heading-letter-spacing);
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  font-size: var(--heading-font-size);
}

.teste .benefits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.teste .benefit {
  display: flex;
  height: 40px;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.teste .check {
  position: relative;
  width: 23px;
  height: 23px;
}

.teste .services-OFF {
  position: relative;
  flex: 1;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.teste .services-OFF-2 {
  position: relative;
  width: fit-content;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.teste .text-wrapper-3 {
  color: #fff600;
  letter-spacing: var(--heading-letter-spacing);
  font-family: var(--heading-font-family);
  font-style: var(--heading-font-style);
  font-weight: var(--heading-font-weight);
  line-height: var(--heading-line-height);
  font-size: var(--heading-font-size);
}

.teste .glow-4 {
  position: absolute;
  width: 1027px;
  height: 1129px;
  top: 1932px;
  left: 413px;
}

.teste .text-wrapper-4 {
  position: absolute;
  width: 435px;
  height: 75px;
  top: 2274px;
  left: 502px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: var(--colors-colors-alias-black-white-white);
  font-size: 72px;
  text-align: center;
  letter-spacing: -2.16px;
  line-height: 86.4px;
  white-space: nowrap;
}

.teste .frame-5 {
  display: flex;
  width: 1010px;
  height: 222px;
  align-items: center;
  gap: 49px;
  position: absolute;
  top: 582px;
  left: 215px;
}

.teste .div-wrapper {
  display: flex;
  flex-direction: column;
  width: 304px;
  height: 179px;
  align-items: flex-start;
  gap: 76px;
  padding: 24px 20px 54px 21px;
  position: relative;
  background-color: #0000000d;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid;
  border-color: #ffffff;
  backdrop-filter: blur(12.9px) brightness(100%);
  -webkit-backdrop-filter: blur(12.9px) brightness(100%);
}

.teste .figma-community-4 {
  position: relative;
  align-self: stretch;
  height: 94px;
  margin-top: -1px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: var(--colors-colors-alias-black-white-black-100);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
}

.teste .text-wrapper-5 {
  font-weight: 700;
  color: #ffffff;
}

.teste .text-wrapper-6 {
  font-weight: 700;
  color: #d3d3d6;
  font-size: 12px;
  line-height: 16.8px;
}

.teste .text-wrapper-7 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 12px;
  line-height: 16.8px;
}

.teste .text-wrapper-8 {
  font-weight: 700;
  color: #d3d3d6;
}

.teste .frame-6 {
  position: absolute;
  width: 85px;
  height: 70px;
  top: 825px;
  left: 800px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .frame-7 {
  position: absolute;
  width: 85px;
  height: 70px;
  top: 825px;
  left: 677px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .frame-8 {
  position: absolute;
  width: 85px;
  height: 70px;
  top: 825px;
  left: 554px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .HERO-2 {
  width: 842px;
  height: 97px;
  position: absolute;
  top: 1010px;
  left: 299px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}

.teste .text-wrapper-9 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: var(--colors-colors-alias-black-white-white);
  font-size: 85.3px;
  text-align: center;
  letter-spacing: 0;
  line-height: 85.3px;
}

.teste .calendar {
  display: flex;
  flex-wrap: wrap;
  width: 932px;
  height: 681px;
  align-items: center;
  justify-content: center;
  gap: 32px 32px;
  position: absolute;
  top: 2695px;
  left: 254px;
}

.teste .button-container {
  display: flex;
  flex-direction: column;
  width: 932px;
  height: 752px;
  align-items: flex-start;
  gap: 27px;
  padding: 50px 24px 24px 54px;
  position: relative;
  margin-top: -35.5px;
  margin-bottom: -35.5px;
  background-color: var(--colors-colors-alias-black-white-black-800);
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid;
  border-color: #212429;
}

.teste .vector {
  position: absolute;
  width: 687px;
  height: 364px;
  top: 221px;
  left: 123px;
}

.teste .container {
  display: flex;
  flex-direction: column;
  width: 368px;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.teste .soma-dos-pnl-s-dos {
  position: relative;
  width: 740px;
  height: 69px;
  margin-top: -1px;
  margin-right: -372px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: var(--colors-colors-alias-black-white-white);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 22.4px;
}

.teste .text-wrapper-10 {
  position: relative;
  align-self: stretch;
  height: 23px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-colors-alias-black-white-black-200);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 22.4px;
  white-space: nowrap;
}

.teste .text-input {
  position: absolute;
  width: 452px;
  height: 323px;
  top: -174px;
  left: 255px;
  background-color: #00a2ff;
  border-radius: 225.87px/161.39px;
  filter: blur(105.24px);
  opacity: 0.1;
}

.teste .group-5 {
  position: absolute;
  width: 342px;
  height: 444px;
  top: 0;
  left: 166px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00a2ff;
}

.teste .frame-9 {
  position: absolute;
  width: 157px;
  height: 44px;
  top: 373px;
  left: 24px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .figma-community-5 {
  position: absolute;
  width: 675px;
  top: 2386px;
  left: 382px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-colors-alias-black-white-black-100);
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 33.6px;
}

.teste .group-6 {
  position: absolute;
  width: 342px;
  height: 444px;
  top: 0;
  left: 549px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00a2ff;
}

.teste .overlap-group-2 {
  position: absolute;
  width: 287px;
  height: 20px;
  top: 47px;
  left: 0;
}

.teste .figma-community-6 {
  position: absolute;
  width: 287px;
  top: 0;
  left: 0;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: var(--colors-colors-alias-black-white-black-100);
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19.6px;
}

.teste .frame-10 {
  position: absolute;
  width: 157px;
  height: 44px;
  top: 373px;
  left: 23px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .group-7 {
  position: absolute;
  width: 342px;
  height: 444px;
  top: 0;
  left: 932px;
  border-radius: 20px;
  border: 1px solid;
  border-color: #00a2ff;
}

.teste .frame-11 {
  position: absolute;
  width: 157px;
  height: 44px;
  top: 373px;
  left: 22px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .figma-community-7 {
  position: absolute;
  width: 428px;
  top: 526px;
  left: 506px;
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--colors-colors-alias-black-white-white);
  font-size: var(--heading-font-size);
  text-align: center;
  letter-spacing: var(--heading-letter-spacing);
  line-height: var(--heading-line-height);
  font-style: var(--heading-font-style);
}

.teste .testing-environment {
  display: flex;
  flex-wrap: wrap;
  width: 1109px;
  height: 142px;
  align-items: center;
  justify-content: space-between;
  gap: 40px 40px;
  padding: 48px;
  position: absolute;
  top: 4532px;
  left: 165px;
  background-color: var(--colors-colors-alias-black-white-black-800);
  border-radius: 16px;
  overflow: hidden;
  border: none;
}

.teste .testing-environment::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 16px;
  background: linear-gradient(
    92deg,
    rgba(0, 163, 255, 1) 0%,
    rgba(20, 21, 31, 1) 33%,
    rgba(0, 163, 255, 1) 67%,
    rgba(13, 14, 20, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.teste .text-wrapper-11 {
  position: relative;
  width: 692px;
  height: 70px;
  margin-top: -13px;
  margin-bottom: -11px;
  font-family: "Manrope-Bold", Helvetica;
  font-weight: 700;
  color: var(--colors-colors-alias-black-white-white);
  font-size: 40px;
  letter-spacing: 0;
  line-height: 22.4px;
}

.teste .frame-12 {
  position: relative;
  width: 85px;
  height: 70px;
  margin-top: -12px;
  margin-bottom: -12px;
  background: linear-gradient(0deg, rgba(227, 227, 227, 1) 0%, rgba(227, 227, 227, 1) 100%);
  object-fit: cover;
}

.teste .label {
  position: absolute;
  top: 4739px;
  left: 607px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
